<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection" connectionString="Data Source=DESKTOP-KGC3UTN\SQLEXPRESS02;Initial Catalog=MagazinulNaturii;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="ParentTableName" value="Adresa" />
		<add key="ChildTableName" value="Client" />
		<add key="ParentColumnNames" value="id,oras,strada,numarstrada,codpostal" />
		<add key="ChildColumnNames" value="id,numeclient,prenumeclient,idadresa" />
		<add key="ParentId" value="id" />
		<add key="ChildId" value="id" />
		<add key="ParentSelectStatement" value="SELECT * FROM Adresa" />
		<add key="ChildSelectStatement" value="SELECT * FROM Client WHERE IdAdresa=@id" />
		<add key="InsertStatement" value="INSERT INTO Client(NumeClient, PrenumeClient, IdAdresa) VALUES (@numeclient,@prenumeclient,@idadresa)" />
		<add key="UpdateStatement" value="UPDATE Client SET NumeClient=@numeclient, PrenumeClient=@prenumeclient, IdAdresa=@idadresa WHERE IdClient=@id" />
		<add key="DeleteStatement" value="DELETE FROM Client WHERE IdClient=@id" />
		<add key="InsertCommandParameters" value="@id,@numeclient,@prenumeclient,@idadresa" />
		<add key="UpdateCommandParameters" value="@id,@numeclient,@prenumeclient,@idadresa" />
	</appSettings>
</configuration>