<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="TravelAgency"
             providerName="System.Data.SQLite"
             connectionString="Data Source=C:\Users\user\Desktop\mpp\mpp-proiect-csharp-vdiana16\TravelAgency\resources\TravelAgency.db"/>

        <!--  <add name="tasksDB" connectionString="Database=mpp;Data Source=localhost;User id=test;Password=passtest2025!;CharSet=utf8" />  -->
    </connectionStrings>
</configuration>
    
