body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    background-color: red;
    height: 100px;
    align-items: center;
}
header p{
    text-align: center;
}

nav {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0;
}

nav ul li {
    text-align: center;
    flex: 1;
}


.main-container {
    background-color: green;
    flex-grow: 1;
    flex: 1;
    height: auto;
}

footer{
    background-color: pink;
    height: 60px;
    align-items: center;
    margin-top: auto;
}

footer p{
    text-align: center;
}